subject = "HNSN - Paciente Internacional"
==

<p>
    <b>Remetente:</b> {{ name }}
</p>

<p>
    <b>País:</b> {{ country }}
</p>

<p>
    <b>Telefone:</b> {{ phone }}
</p>

<p>
    <b>Mensagem:</b> {{ comments }}
</p>
