subject = "HNSN Ouvidoria"
==

<p>
    <b>Remetente:</b> {{ name }}
</p>

<p>
    <b>Tipo:</b> {{ type }}
</p>

<p>
    <b>Email:</b> {{ email }}
</p>

<p>
    <b>Telefone:</b> {{ phone }}
</p>

<p>
    <b>Anexo:</b> {{ url | raw }}
</p>

<p>
    <b>Comentário:</b> {{ comments }}
</p>
